*{
    box-sizing: border-box;
   }
   html,body{
       padding: 0px;
       margin: 0px;
   }
   :root{
       --white-color: white;
   }

.nav{
    background-image: url(../gaming/images/desktop/image-hero.jpg);
    background-size: cover;
    height: 500px;
}
.nav img{
    margin-left: 150px;
    margin-top: 80px;
}
.nav ol{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    padding-left: 100vh;

    
}
.nav ol li a{
 
 text-decoration: none;
 color: white;
 
}
.nav ol li a:hover{
    text-decoration: underline;
    
}
.t1{
    width: 400px;
    height: 200px;
    margin-left: 150px;
    border: white solid;
}
.t1 p{
    font-size: 30px;
    font-family: [Josefin Sans];
    padding-left:  20px;
}
p{
    color:hsl(0, 0%, 100%);
}
.part2{
width: 300px;
height: 300px;
}

/* mobile display */

@media screen and(min-width:720px){
    
header ol{
    display: none;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}
.nav-toggler{
    display: none;
}
}
header nav{
    display: flex;
}
header nav ol li{
    display: none;
}